*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", serif;
    font-style: normal;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}


header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 10rem 0.5rem;
    background: rgba(212, 212, 212, 0);
    border: 1px solid #252525;
    border-radius: 10rem;
}

hr{
    padding: 1rem 0.3rem 0.3rem 1rem;
    border: none;
    background: linear-gradient(to right, #520101, #F60707);
}

article{
    display: flex;
    flex-direction: row;
    margin: -1vh;
    padding: 3rem 2rem 3rem 2rem;
    background-color: #400000;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

article p{
    font-size: 1.2rem;
    color: white;
}



button{
    padding: 0.9rem 2rem 0.9rem 2rem;
    border-radius: 10rem;
    border: none;
    background: linear-gradient(to right, #520101, #F60707);
    color: white;
    cursor: pointer;

}

button:hover{
    background: linear-gradient(to right, #070707, #5a5a5a);
}

ul, li, a{
    color: #252525;
    list-style-type: none;
    text-decoration: none;
}

a{
    transition: ease 0.2s;
}


a:hover{
    color: #9c0000;
}

.rocket-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: url('../assets/banner.svg') no-repeat center center/cover;
    color: white;
    height: 68vh;
    padding: 10px;
    position: relative;
}
.text-content{
margin-left: -110vh;

}
.text-content h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}
.text-content p {
    font-size: 1.2em;
    width: 69vh;
    margin-bottom: 20px;
}
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
}

.grid-text{
    padding: 1rem;
    border: 1px solid #FF0000;
    padding: 0.5rem 3rem;
    border-radius: 10px;
}

.grid-text h1{
    font-size: 20px;
    font-weight: 300;

}

aside h1{
    font-size: 2.5rem;
    text-align: center;
}

.gradient{
    background-image: linear-gradient(to left, #990000,#FF0000);
    color: rgba(0, 0, 0, 0);

    /* Adicionado: */
    background-clip: text;
    -webkit-background-clip: text;

}


.container {
    width: 100%;
    width: 1100px;
    height: 350px;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: transparent; /* Para garantir que o fundo seja transparente */
    color: transparent; /* Caso a cor não esteja funcionando diretamente */
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #ff0000; /* Altera a cor das setas */
  }

  .swiper-pagination-bullet {
    background: #000000;
  }
.container .card img{
    width: 80px;
    margin-top: 2.2rem;
}

.container .card{
    padding: 2rem 1rem 2rem 1rem;
    border: 1px solid #0000003f;
    text-align: center;
    border-radius: 10px;

}

.container .card h1{
    margin-top: 1rem;
    font-size: 18px;
}

.container .card p{
    margin-top: 1rem;
    width: 20rem;
}


.quem-somos{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #860000;
height: 826px;
width: 100vw;
margin-top: 9.6rem
}

.quem-somos .title-text h1{
color: #FFF;
font-family: "Inter", sans-serif;
font-size: 41px;
font-style: normal;
padding-top: 50px;
padding-left: 112px;
letter-spacing: 0%;
text-align: left;
}

.text-quem-somos p{
color: #E7E7E7;
font-family: "Bricolage Grotesque", serif;
font-style: normal;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: 0%;
text-align: justify;
padding-top: 20px;
padding-left: 121px;
width: 1250px;
}


.retangulo {
    width: 80%;
    max-width: 660px;
    height: 140px;
    background-color: #A80606;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:  center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 29px;
    margin-bottom: 20px;
    position: relative;
    bottom: 90%;
    left: 8%;


}

.retangulo p {
    color: #FFF;
    font-family: "Bricolage Grotesque", serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
}
.retangulo p b {
    font-weight: 900;
    font-size: 18px;
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
}

.galeria {
    display: flex;
    padding-left:120px;
    margin-top: 20px;
    gap: 30px;
}
.galeria img:nth-child(2),
.galeria img:nth-child(3) {
    transform: translateY(-80px);


}

.galeria img:first-child{
    transform: translateX(px);
}
.container-retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.image1{
    padding-left: 75px;
    padding-right: 10px;
    padding-bottom: -20px;
}

.perguntas-frequentes h2 {
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
    background: linear-gradient(to right, #520101, #F60707);
    -webkit-background-clip: text;
    color: transparent;
}

.content-box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    gap: 2rem
}

.content-left-img {
    width: 700px;
}

.content-left .btn-contact {
    padding: 0.9rem 2rem 0.9rem 2rem;
    border-radius: 10rem;
    border: none;
    background: linear-gradient(to right, #520101, #F60707);
    color: white;
    cursor: pointer;
    width: 160px;
    height: 60px;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.content-left p {
    font-size: 1.2rem;
    color: #5B5959;
    line-height: 1.5;
    margin-top: 1rem;
}

.content-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-ask {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    padding: 50px;
    width: 100%;
}

.box-header span {
    font-size: 2rem;
    color: #626262;
}

.box-header h3 {
    color: #343434;
    margin: 0;
    flex-grow: 1;
}

.box-header .icon {
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: auto;
}

.box-header .icon::before,
.box-header .icon::after {
    content: '';
    position: absolute;
    background-color: #626262;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.box-header .icon::before {
    width: 2px;
    height: 16px;
    top: 4px;
    left: 11px;
}

.box-header .icon::after {
    width: 16px;
    height: 2px;
    top: 11px;
    left: 4px;
}

.box-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 50px;
}

.box-ask.active .box-content {
    max-height: 300px;
    padding: 0 50px 50px 50px;
}

.box-ask.active .icon::before {
    transform: rotate(90deg);
    opacity: 0;
}

.box-content p {
    color: #626262;
    margin: 0;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .box-ask {
        width: 100%;
    }

    .box-header {
        padding: 30px;
    }

    .box-ask.active .box-content {
        padding: 0 30px 30px 30px;
    }
}

.timeline-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.timeline-title {
    text-align: center;
    margin-bottom: 7rem;
    font-size: 50px;
    background: linear-gradient(to right, #520101, #F60707);
    -webkit-background-clip: text;
    color: transparent;
}

.timeline-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

.timeline-content {
    flex: 1;
    margin-left: 40px;
}

.timeline-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 8px;
}

.timeline-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.timeline-description {
    color: #666;
    line-height: 1.5;
}

.timeline-dot {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    position: relative;
}

.timeline-dot.red {
    background-color: #FF0000;
}

.timeline-dot.black {
    background-color: #343434;
}

.timeline-dot::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -125px;
    width: 2px;
    height: 125px;
    border-left: 4px dotted #000000;
    transform: translateX(-50%);
}

.timeline-item:last-child .timeline-dot::before {
    display: none;
}

.timeline-dot::after {
    content: '';
    position: absolute;
    width: 92px;
    height: 92px;
    border: 2px dashed #000000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #000000;
    padding: 20px 40px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 90px 60px 20px 60px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rocket-logo {
    width: 350px;
}

.partner-logos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.partner-logo {
    width: 180px;
}

.footer-links {
    text-align: center;
    margin-top: 50px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 20px;
}

.footer-link:hover {
    text-decoration: underline;
}

.copyright {
    background: linear-gradient(to right, #003366, #0066cc);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
}

.copyright span {
    color: #fff;
}

.size-info {
    color: #666;
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .logo-section, .partner-logos {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .timeline-section {
        padding: 20px;
    }

    .timeline-title {
        font-size: 2rem;
    }

    .timeline-content {
        margin-left: 20px;
    }
}

@media (max-width: 431px){
    body{
        width: 100%;
        max-width: 430px;
        margin: 0;
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .btn{
        display: none;
    }
    header{
        justify-content: center;
    }
    hr{
        width: 430px;
    }
    /*Redimensionamento IP14ProMax*/
    .rocket-section{
        height: 167px;
        padding: 0;
        background-color: #400000;
    }
    .text-content{
        margin-left: -23vh;
        max-width: 208px;
    }
    .text-content h1{
        font-size: 0.8em;
    }
    .text-content p{
        font-size: 0.66em;
        width: 67vh;
        max-width: 100%;
    }
    /*Mudanças em componentes e textos*/
    article{
        margin-top: -3vh;
    }
    .down-line{
        width: 430px;
        height: 44px;
        margin-left: 0.01vh;
    }
    .down-line img{
        width: 16px;
        height: 16px;
        object-fit: cover;
    }
    .down-line img:nth-of-type(1) { 
        display: none; 
    }
    .down-line p{
        font-weight: 600;
        font-size: 0.5rem;
    }
    .grid-text{
        width: 60px;
        height: 16px;
        border-radius: 8px;
    }
    .grid-text h1{
        font-size: 1rem;
        padding: 0;
        margin-top: -1vh;
        margin-left: -3.35vh;
    }
    .servicos{
        margin-top: 2rem;
    }
    .gradient{
        display: none;
    }
    .container{
        margin-top: -9vh;
        width: 334px;
        height: 350px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        justify-content: center;
    }
    /*Falta alinhar componentes abaixo da seção quem somos*/
    .quem-somos .title-text h1{
        margin-top: -26vh;
        font-size: 1.5em;
        padding-top: 0;
        padding-left: 0;
    }
    .quem-somos .text-quem-somos p{
        margin-top: -22vh;
        font-size: 0.8em;
        padding-top: 0;
        padding-left: 0;
        width: 330px;
        height: 51px;
    }
    .galeria{
        padding-left:20px;
        margin-top: 1px;
        gap: 10px;
    }
    .galeria img:nth-child(1){
        margin: -6px 0 0 -35px;
        width: 117px;
        height: 165px;
    }
    .galeria img:nth-child(2),
    .galeria img:nth-child(3) {
        margin-top: 75px;
        width: 88px;
        height: 93px;
    }
    .retangulo{
        margin-left: 5vh;
        width: 186px;
        height: 54px;
        p{
            font-size: 0.5rem;
        }
        p b{
            font-size: 0.5rem;
        }
    }
    .perguntas-frequentes .content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    .perguntas-frequentes .content-left-img{
        position: relative;
        margin-top: -15vh;
        width: 221px;
    }
}